<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studgenie.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CCUBE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.activity.JavaExoActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            >

        </activity>

        <activity
            android:name=".ui.main.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.activity.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.activity.ExoPlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />

        <activity android:name=".ui.main.activity.OneSignalActivity">

        </activity>


        <activity android:name=".ui.main.activity.PaymentGatewayActivity" /> <!-- View performance log messages for performance events -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- <activity -->
        <!-- android:name=".ui.main.activity.ExoPlayerActivity" -->
        <!-- android:screenOrientation="landscape" /> -->
        <activity
            android:name=".ui.onboarding.activity.SignUpActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>